.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
